:root {
  --primary-color: #f1f1f1;
  --secondary-color: #666666;
  --header-font-family: "Proza Libre", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
  font-weight: 700;
  font-size: 96px;
}
h2 {
  font-weight: 400;
  font-size: 24px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
img {
  padding: 0 auto;
}
.project-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}
.hero p {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}
.btn-branding {
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: var(--secondary-color);
}
.btn-portfolio-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.inquiry {
  background: var(--primary-color);
  margin: 40px 300px;
  padding: 30px;
  border-radius: 40px;
}
.get-started {
  margin: 30px 210px;
}
.icons {
  margin: 40px auto;
  max-width: 500px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 60px;
    line-height: 1;
    margin: 30px 0;
  }
  .hero {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .project-title {
    font-size: 35px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .intro-img {
    max-width: 70%;
  }
  .inquiry {
    margin: 20px auto;
    text-align: center;
  }
  .get-started {
    margin: 20px 100px;
  }
  .about-page {
    margin: 10px auto;
  }
  .about-img {
    max-width: 300px;
    margin-left: 20px;
  }
  .about-text {
    text-align: center;
    margin-bottom: 10px;
  }
}
.about-page {
  margin: 60px auto;
}
.about-h1 {
  text-align: center;
}
.credentials-title h2 {
  margin-left: 300px;
}
.about-text {
  margin-top: 80px;
}
